<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"

	xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans

           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd

           http://www.springframework.org/schema/context

           http://www.springframework.org/schema/context/spring-context-2.5.xsd

           http://www.springframework.org/schema/aop

           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
	<bean id="testServiceImpl" class="com.alibaba.test.aop.service.TestServiceImpl" />
	<bean id="testInterceptor" class="com.alibaba.test.aop.intercept.TestInterceptor" />
	<bean id="testInterceptor2" class="com.alibaba.test.aop.intercept.TestInterceptor2" />
	<bean id="testService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 代理接口 -->
		<property name="proxyInterfaces">
			<value>com.alibaba.test.aop.service.TestService</value>
		</property>
		<!-- 目标实现类 -->
		<property name="target">
			<ref local="testServiceImpl" />
		</property>
		<!-- 拦截器-->
		<property name="interceptorNames">
			<list>
				<value>testInterceptor2</value>
				<value>testInterceptor</value>
				<value>testInterceptor2</value>
				<value>testInterceptor</value>
			</list>
		</property> 
	</bean>
	<bean id="userBo" class="com.alibaba.jtester.bo.UserBoImpl" />
	<bean id="userDao" class="com.alibaba.jtester.dao.UserDaoImpl" />
	<context:annotation-config/>
    <context:component-scan base-package="com.alibaba"/>
	<aop:aspectj-autoproxy />
</beans>

